
.tournament-grids-container {
    padding: 20px;
}

.brackets-container {
    display: flex;
    overflow-x: auto;
}

.round {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.match {
    background-color: var(--card);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 200px;
}

.participant {
    display: block;
    margin: 5px 0;
}

.winner-form input {
    width: 80px;
    margin-right: 10px;
    padding: 5px;
}

.winner-form button {
    padding: 5px 10px;
}
